<div class="btnDivBox">
  <button type="button" class="btn btn-UseWidth btn-danger" onclick="Logout()">Logout</button>
</div>
<div class="btnDivBox">
  <button type="button" class="btn btn-UseWidth btn-danger" (click)="cartService.RemoveLastItem()">Artikel Stornieren</button>
</div>
<div class="btnDivBox">
  <button type="button" class="btn btn-UseWidth btn-secondary" (click)="cartService.EmptyCart()">Warenkorb leeren</button>
</div>
<div class="btnDivBox" >
  <button type="button" class="btn btn-UseWidth btn-success" (click)="this.cartService.makeSale()">Verkauf buchen</button>
</div>

<div class="btnDivBox">
  <button type="button" class="btn btn-UseWidth btn-danger" (click)="cartService.RemoveLastItem()">Kauf Stornieren</button>
</div>
