@for (page of exportPdf.pageLayout; track $index){
  <div class="page">
    @for (transaction of page.items; track $index){
      <div class="row">
        <h1>Sheet ID: {{ transaction.bookkeepingId }} - Verkauf LMR</h1>
        <div class="col-4">
          LMR HS-Esslingen<br>
          Flandernstrasse 101-1<br>
          73732 Esslingen<br>
          <br>
          Mo - Fr zu Pausenzeiten<br>
          <br>
          Sale ID: {{ transaction.id }}<br>
          Timestamp:<br>
          {{ transaction.saleDate }}
        </div>
        <div class="col">
          <!-- For different tax Level we print different Bons as that allows use to easily book correctly-->
          @for (item of transaction.items; track $index){
            {{ item.cnt }}x "{{ item.name }}" {{ item.price}}€<br>
          }
          --------------<br>
          Gesamt: {{transaction.total}}€<br>
          <br>
          Netto: {{ transaction.netto}} <br>
          MWST ({{transaction.tax * 100}}%): {{ transaction.taxAmount }}€ <br>
          -----------<br>
          Brutto: {{transaction.total}}€
        </div>


      </div>
      <hr>
    }
  </div>
}
