<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Access</title>
    <link href="{{ url_for('static', filename='5.3.2_dist_css_bootstrap.min.css') }}" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='5.3.2_dist_js_bootstrap.bundle.min.js') }}"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='AdminAccess.css') }}" rel="stylesheet">
</head>
<body>

<div class="limiter">

    <!-- <h1>Kassenstand:</h1>
    <div>200&euro;</div> -->
    <button class="btn btn-primary" onclick="OpenDrawer()">Open Drawer</button>

    <hr>

<!-- TODO Maybe implement the Extra functions -->
<!--
    <div class="input-group mb-3">
        <span class="input-group-text">Offset Current Balance</span>
        <input type="text" id="price" class="form-control" placeholder="Take out with -; Add with +" aria-label="label" aria-describedby="desc">
        <span class="input-group-text">€</span>
    </div>
    <div class="input-group mb-3 col">
        <span class="input-group-text">Comment</span>
        <input type="text" id="bon_name" class="form-control" maxlength="17" placeholder="Why did we Do this?" aria-label="label" aria-describedby="desc">
    </div>
    <button class="btn btn-success">Save Changes</button>
-->
</div>


<script>

function OpenDrawer(){
fetch("/OpenDrawer",{
    method: "POST"
});
}

</script>
</body>
</html>