<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bons Export</title>

    <link href="{{ url_for('static', filename='5.3.2_dist_css_bootstrap.min.css') }}" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='5.3.2_dist_js_bootstrap.bundle.min.js') }}"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='Print.css') }}" rel="stylesheet">
</head>
<body>

{% for page in data %}

<div class="page">
    
    {% for Transaction in page["Items"] %}
        
        <div class="row">
            <h1>Sheet ID: {{ Transaction["TransactionID"] }} - Verkauf LMR</h1>
            <div class="col-4">
                LMR HS-Esslingen<br>
                Flandernstrasse 101-1<br>
                73732 Esslingen<br>
                <br>
                Mo - Fr zu Pausenzeiten<br>
                <br>
                Sale ID: {{ Transaction["id"] }}<br>
                Timestamp:<br>
                {{ Transaction["date"] }}
            </div>
            <div class="col">
                <!-- For diffrent tax Level we print diffrent Bons as that allows use to ealsily book correctly-->
                {% for item in Transaction["items"] %}
                    {{ item["cnt"] }}x {{ item["name"] }} {{ "%.2f€"|format(item["price_per"]|float) }}<br>
                {% endfor %}
                --------------<br>
                Gesamt: {{ "%.2f€"|format(Transaction["Total"]|float) }} <br>
                <br>
                Netto: {{ "%.2f€"|format(Transaction["Total"]|float /  (1.0 + Transaction["items"][0]["tax"]|float)) }} <br>
                MWST ({{ "%2.0f"|format(Transaction["items"][0]["tax"]|float * 100 )}}%): {{ "%.2f€"|format(Transaction["Total"]|float - (Transaction["Total"]|float / (1.0 + Transaction["items"][0]["tax"]|float))) }} <br>
                -----------<br>
                Brutto: {{ "%.2f€"|format(Transaction["Total"]|float) }}
            </div>
    
    
        </div>
        <hr>
    {% endfor %}
</div>

{% endfor %}


</body>
</html>