:root {
    --FullScreenHight: 90vh;
}

.FullScreen {
    min-height: var(--FullScreenHight);
}
.TotalSum {
    bottom: calc(100vh - var(--FullScreenHight));
    position: absolute;
}

.btn-UseWidth {
    width: 100%;
}

.btnDivBox {
    padding-right: 10px;
    margin-bottom: 50px;
}